.content{
    float: left;
    width: 69%;
    padding: 15px;
}
.banner{
    background-color: antiquewhite;
    text-align: center;

}
h1{
    font-size: x-large;
}
.side_bar{
    float: left;
    width:45%;
    padding: 15px;
}
.topnav{
    background-color: whitesmoke;
    width: 10%;
    display: inline-block;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.topnav a{

    color: #2b2b2bd0;
    text-decoration: none;
    display:inline;
    padding: 14px 16px;
    text-align: left;
    font-style: italic;
}
.topnav a:hover{
    color: azure;
    background-color: #2b2b2bd0;
    text-decoration: none;    
}
.topnav-right{
    float: right;
}
.footer{
background-color: black;
font-style: italic;
font-size: small;
}